/*body {
	background:url("../img/crowd.png"); 
	background-size: cover;
	background-repeat: no-repeat;
}*/

.logo {
	margin-top: 3em;
	width: 35%;
}

.largest-text {
	font-family: "Univers LT Std";
	font-size: 5em;
	font-weight: 500;
}

.yellow-text {
	color: #fff508;
}

.slogan {
	font-family: "Univers LT Std";
	font-size: 1em;
	font-weight: 400;
	padding-bottom: 20px;
	width: auto;
}

p {
	font-size: 1.5em;
	width: 80%;
}

/*.crowd {
	width: auto;
}*/

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	margin-right: 2em;
}

.timenumbers {
	font-family: "Univers LT Std";
	font-size: 4em;
	line-height: 1em;
	margin: 0 auto;
	text-align: center;
}

.timedescription {
	font-family: "Univers LT Std";
	font-size: 1.5em;
	font-variant: small-caps;
	margin: 0 auto;
	text-align: center;
}
