/*body {
	background:url("../img/cityscape.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
}*/

.logo {
	margin-top: 3em;
	width: 30%;
}

.largest-text {
	font-family: "Univers LT Std", sans-serif;
	font-size: 4.55em;
	font-weight: 900;
	margin-bottom: 0;
	width: 75%;
}

.yellow-text {
	color: #fff508;
}

.green-text {
	color: #78b744;
}

.slogan {
	font-family: "Univers LT Std", sans-serif;
	font-size: .9em;
	font-weight: 400;
	width: 75%;
}

h2 {
	font-family: "Univers LT Std", sans-serif;
	font-size: 2em;
	font-weight: 600;
}

p {
	font-family: "Univers LT Std", sans-serif;
	font-size: 1.3em;
	margin-bottom: 1rem;
	width: 75%;
}

/*.crowd {
	width: auto;
}*/

ul {
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
}

li {
	display: inline-block;
	margin-right: 2em;
}

.timenumbers {
	font-family: "Univers LT Std", sans-serif;
	font-size: 4em;
	line-height: .8em;
	margin: 0 auto;
	text-align: center;
}

.timedescription {
	font-family: "Univers LT Std", sans-serif;
	font-size: 1.3em;
	font-variant: small-caps;
	margin: 0 auto;
	text-align: center;
}

.panel {
	border: none;
	width: 75%;
}

footer {
	position: absolute;
	top: 490px;
}
