/*body {
	background:url("../img/crowd.png"); 
	background-size: cover;
	background-repeat: no-repeat;
}*/

.logo {
	margin-top: 3em;
	width: 30%;
}

.largest-text {
	font-family: "Univers LT Std";
	font-size: 4.55em;
	font-weight: 500;
}

.yellow-text {
	color: #fff508;
}

.green-text {
	color: #78b744;
}

.slogan {
	font-family: "Univers LT Std";
	font-size: .9em;
	font-weight: 400;
	padding-bottom: 5px;
	width: auto;
}

h2 {
	font-family: "Univers LT Std";
	font-size: 2em;
}

p {
	font-size: 1.3em;
	width: auto;
}

/*.crowd {
	width: auto;
}*/

ul {
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
}

li {
	display: inline-block;
	margin-right: 2em;
}

.timenumbers {
	font-family: "Univers LT Std";
	font-size: 4em;
	line-height: 1em;
	margin: 0 auto;
	text-align: center;
}

.timedescription {
	font-family: "Univers LT Std";
	font-size: 1.3em;
	font-variant: small-caps;
	margin: 0 auto;
	text-align: center;
}
